@import "fonts.css";
@import "colors.css";

:root {
	--side-bar-width: 160px;
}

body {
	font-family: "Noticia Text", "PT Serif", serif;

	background-color: var(--cs-ayu-light-bg);
	color: var(--cs-ayu-light-fg);
}

a {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "PT Sans Narrow", sans-serif;
	font-weight: bold;
}

.page-title {
	text-align: center;
}

.begins-with-drop-cap::first-letter {
	float: left;
	font-size: 5em;
	line-height: .6;

	margin-right: 0.1em;
	margin-top: 0.08em;
}

#side-bar {
	position: fixed;
	left: 0;
	top: 0;

	padding-top: 1in;

	height: 100%;
	width: var(--side-bar-width);
}

#side-bar a {
	margin: 10px 10px 20px 10px;

	display: block;

	padding: 3px 3px 3px 10px;

	/* Provide room for the border shown on selected links
	 */
	border-right: 4px solid transparent;

	font-family: "PT Sans", sans-serif;
	font-size: 20px;

	color: var(--cs-ayu-light-fg);
}

#side-bar a:hover {
	color: var(--cs-ayu-light-comment);
}

#side-bar a:active {
	color: var(--cs-ayu-light-teal);
}

#side-bar a.selected {
	border-right: 4px solid var(--cs-ayu-light-teal);
}

#main-content {
	/*
	 * Prevent overlap with the side bar. Further subdivision is
	 * probably required to add more space.
	 */
	margin-left: var(--side-bar-width);
}

/* Tries to emulate a "page" on letter paper. */
.article-page {
	min-width: 2in;
	max-width: 6.5in;

	padding: .5in;
}

blockquote {
	font-style: italic;
	color: var(--cs-ayu-light-comment);
}

img.heroimage {
	width: 50%;

	margin-left: auto;
	margin-right: auto;

	border: 2px solid var(--cs-ayu-light-blue);

	display: block;
}

/*
 * Extremely hacky way to automatically generate
 * the TeX logo. The .texlogo elements needs to
 * provide the E in the middle of the logo itself.
 */
.texlogo:before {
	content: "T";

	display: inline-block;

	position: relative;
	left: 0.1667em;
	bottom: 0.5ex;
}
.texlogo {
	display: inline-block;
	position: relative;
	top: 0.5ex;
	margin-left: -0.1667em;
	margin-right: -0.125em;
}
.texlogo:after {
	content: "X";

	display: inline-block;

	position: relative;
	right: 0.125em;
	bottom: 0.5ex;
}

/*
 * For the start of the LaTeX logo. The same weird
 * thing is required as the TeX logo, but in this
 * case the L must be provided. The whole LaTeX
 * logo can be made with <nobr><span
 * class="latexlogo-la">L</span><span
 * class="texlogo">E</span></nobr>
 */
.latexlogo-la {
	margin-right: -0.31em;
}
.latexlogo-la:after {
	font-size: 80%;
	content: "A";

	position: relative;

	right: 0.27em;
	bottom: 0.2em;
}

.image-text-panel {
	display: flex;
	align-content: flex-start;
	align-items: flex-start;
}

.image-text-panel p {
	display: inline-block;
	width: 75%;
	margin-top: 0;
}

/* Acts as a divider betwen the image and text. */
.image-text-panel .spacer {
	width: 1em;
}

/*
 * This should probably not be flex but I don't
 * know the correct thing to do.
 */
.captioned-image {
	display: flex;
	flex-direction: column;
	width: 40%;
	border: 2px solid var(--cs-ayu-light-blue);
}

.captioned-image img {
	display: block;
}

.captioned-image .caption {
	display: block;
	font-size: 10px;
	text-align: center;
	padding-top: .5em;
	padding-bottom: .5em;
	overflow: hidden;
}

.centered-captioned-image {
	display: flex;
	flex-direction: column;
	width: 85%;
	border: 2px solid var(--cs-ayu-light-blue);
	margin-left: auto;
	margin-right: auto;
}

.centered-captioned-image img {
	display: block;
}

.centered-captioned-image .caption {
	display: block;
	font-size: 10px;
	text-align: center;
	padding-top: .5em;
	padding-bottom: .5em;
	overflow: hidden;
}
