@import "fonts.css";
@import "colors.css";

:root {
	--side-bar-width: 150px;
}

body {
	font-family: "Noticia Text", "PT Serif", serif;

	background-color: var(--cs-ayu-light-bg);
	color: var(--cs-ayu-light-fg);
}

a {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "PT Sans Narrow", sans-serif;
	font-weight: bold;
}

.page-title {
	text-align: center;
}

.begins-with-drop-cap::first-letter {
	float: left;
	font-size: 5em;
	line-height: .6;

	margin-right: 0.1em;
	margin-top: 0.08em;
}

#side-bar {
	position: fixed;
	left: 0;
	top: 0;

	padding-top: 1in;

	height: 100%;
	width: var(--side-bar-width);
	overflow: scroll;
}

#side-bar a {
	margin: 10px 10px 20px 10px;

	display: block;

	padding: 3px 3px 3px 10px;

	/* Provide room for the border shown on selected links
	 */
	border-right: 4px solid transparent;

	font-family: "PT Sans", sans-serif;
	font-size: 20px;

	color: var(--cs-ayu-light-fg);
}

#side-bar a:hover {
	color: var(--cs-ayu-light-comment);
}

#side-bar a:active {
	color: var(--cs-ayu-light-teal);
}

#side-bar a.selected {
	border-right: 4px solid var(--cs-ayu-light-teal);
}

#main-content {
	/*
	 * Prevent overlap with the side bar. Further subdivision is
	 * probably required to add more space.
	 */
	margin-left: var(--side-bar-width);
}

/* Tries to emulate a "page" on letter paper. */
.article-page {
	min-width: 2in;
	max-width: 8.5in;
	overflow: scroll;

	margin: .3in;

	padding: 1in;
}
